@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary-color: #1A1A1A;          /* headings, accents */
  --secondary-color: #FFB400;        /* backgrounds, buttons */

  --bg-text-color: var(--secondary-color);
  --headline-color: #ffffff;

  --heading-font: "Roboto", sans-serif;
  --paragraph-font: "Roboto", sans-serif;

  --step--2: clamp(0.63rem, calc(0.72rem + -0.11vw), 0.69rem);
  --step--1: clamp(0.83rem, calc(0.83rem + 0.02vw), 0.84rem);
  --step-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --step-1: clamp(1.2rem, calc(1.1rem + 0.52vw), 1.5rem);
  --step-2: clamp(1.44rem, calc(1.25rem + 0.97vw), 2rem);
  --step-3: clamp(1.73rem, calc(1.4rem + 1.63vw), 2.66rem);
  --step-4: clamp(2.07rem, calc(1.56rem + 2.57vw), 3.55rem);
  --step-5: clamp(2.49rem, calc(1.71rem + 3.91vw), 4.74rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  max-width: 120rem;
  margin: 0 auto;
  font-size: var(--step-2);
  text-align: center;
  font-family: var(--paragraph-font);
  line-height: 1.5;
  background-color: #fff0e0;

  background-image: url("data:image/svg+xml,%3Csvg ... %3E%3C/svg%3E");

  & p {
    padding: 1em;
  }
}

h1 {
  color: var(--primary-color);
  font-size: var(--step-4);
  font-family: var(--heading-font);
}

:where(h2, h3, h4, h5, h6) {
  font-family: var(--heading-font);
  color: var(--primary-color);
  font-size: var(--step-3);
}

h2 {
  text-align: center;
  text-decoration: underline wavy var(--headline-color);
  text-underline-offset: 1rem;
}

header {
  padding: 1em;
  text-align: center;
  background-color: var(--secondary-color);
  font-family: var(--heading-font);
  margin-block-end: 2rem;
}

header :where(h1, h2) {
  color: #fff;
  text-decoration: none;
}

section {
  margin-block-end: 3rem;
  border-top: 5px solid var(--secondary-color);
  border-bottom: 5px solid var(--secondary-color);
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2rem);
  box-shadow: 3px 5px 5rem 5px #e7e7e7c2;
  padding-block-start: 2rem;
}

ul {
  list-style: none;
  text-align: left;
  padding-inline: 2rem;
  margin-inline-start: 4rem;

  & ::marker {
    content: "⚡️";
  }

  & li {
    margin-block-end: 1rem;
  }
}

.client-logo img {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.colors th {
  color: #fff;
  background-color: var(--secondary-color);
  padding-block: 1rem;
}

.colors td {
  color: var(--headline-color);
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-color);
}

p.coloured {
  background-color: var(--secondary-color);
  color: #fff;
}

.page1 { grid-area: page1; }
.page2 { grid-area: page2; }

.placeholder-box {
  background-color: var(--secondary-color);
  border-radius: 5px;
  max-width: 30rem;
  margin: 4rem auto;
  display: grid;
  gap: 2rem;
  color: #1A1A1A;
}

.placeholder-box img {
  width: 100%;
}

footer {
  text-align: center;
  font-size: var(3); 
  font-weight: bold;
  background-color: var(--secondary-color); 
  color: #fff; 
  font-family: var(--heading-font); 
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 15px;
}

footer p {
  margin: 5px 0;
}