@media screen and (min-width: 760px) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    .navigation.show {
        flex-direction: row;
    }

    #menu {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1.24fr;
        grid-template-rows: auto auto auto auto auto;
        gap: 5px;
        margin-left: 2.5%;
    }

    header h1 {
        grid-column: 2 / 3;
        text-align: center;
        font-size: 2.5rem;
        margin-left: 0;
    }

    main h2 {
        font-size: 2rem;
        text-align: center;
    }

    #welcome {
        font-size: 1.5rem;
        grid-column: 1 / span 2;
        grid-row: 1;
        max-width: 100%;
        margin-top: 30px;
    }

    .profile-carousel {
        max-width: 100%;
        width: 100%;
    }

    .profile-carousel img {
        min-width: 800px;
        height: 450px;
    }

    .profile-carousel img:hover {
        transform: scale(1.3);
    }

    #welcome h2,
    #welcome h3,
    .cta-button {
        max-width: 800px;
        overflow-wrap: break-word;
    }

    #welcome h2 {
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 10px;
    }

    #welcome h3 {
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin-bottom: 20px;
        text-wrap: wrap;
        object-fit: contain;

    }

    .cta-button {
        padding: 15px 20px;
        margin-bottom: 30px;
        font-size: 18px;
        border-radius: 15px;
        transition: background-color 0.3s ease;
    }

    #podcast {
        grid-column: 1 / span 2;
        grid-row: 2;
        margin-top: 110px;
        margin-bottom: 10px;
    }

    .podcast-player {
        min-height: auto;
        max-width: 100%;
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .podcast-player iframe {
        width: 700px;
        height: 400px;
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    #events {
        grid-column: 1 / span 2;
        grid-row: 3 / span 4;
        max-width: 100%;
        margin-top: 100px;
    }

    #events h3 {
        text-align: center;
    }

    .events-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .event-box {
        width: 100%;
    }

    #weather {
        grid-column: 1 / span 2;
        grid-row: 5;
    }

    #weather img,
    .weather-container img {
        object-fit: cover;
    }

    .weather-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }

    .weather-container img {
        margin-top: 110px;
        object-fit: cover;
    }

    .weather-label {
        top: 58%;
        left: 50%;
        width: 50%;
        max-width: 100%;
        height: 70%;
        object-fit: cover;
    }

    .weather-label h2 {
        font-size: 1.7rem;
        margin-top: 40px;
        margin-bottom: 15px;
    }

    .weather-label p {
        font-size: 1rem;
        line-height: 2rem;
    }

    .forecast-day img {
        max-width: 100px;
        object-fit: cover;
    }

    #company-spotlights {
        grid-column: 3;
        grid-row: 1 / span 3;
        max-width: 100%;
        overflow-wrap: break-word;
    }

    .launchpad,
    .carbon,
    .windpower {
        padding: 10px;
        overflow-wrap: break-word;
        margin-bottom: 50px;
    }

    .launchpad h3,
    .carbon h3,
    .windpower h3,
    .launchpad h4,
    .carbon h4,
    .windpower h4 {
        text-align: center;
        overflow-wrap: break-word;
    }

    #dynamic-spotlights {
        grid-column: 3;
        grid-row: 4 / span 5;
        flex-direction: column;
        align-items: center;
    }

    .spotlight-card {
        width: 95%;
    }
}