@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary-color: #1A1A1A;
  --secondary-color: #946800;
  --headline-color: #ffffff;
  --heading-font: "Roboto", sans-serif;
  --paragraph-font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 120rem;
  margin: 0 auto;
  font-size: 1.6rem;
  text-align: center;
  font-family: var(--paragraph-font);
  line-height: 1.5;
  background-color: #fff0e0;
}

h1 {
  color: var(--primary-color);
  font-size: 3rem;
  font-family: var(--heading-font);
}

h2, h3, h4 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

h2 {
  text-align: center;
  text-decoration: underline wavy var(--headline-color);
  text-underline-offset: 1rem;
}

header {
  padding: 1em;
  text-align: center;
  background-color: var(--secondary-color);
  font-family: var(--heading-font);
  margin-bottom: 2rem;
}

header h1, header h2 {
  color: #fff;
}

section {
  margin-bottom: 3rem;
  border-top: 5px solid var(--secondary-color);
  border-bottom: 5px solid var(--secondary-color);
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2rem);
  box-shadow: 3px 5px 5rem 5px #e7e7e7c2;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

ul {
  list-style: none;
  text-align: left;
  padding: 0 2rem;
}

ul li {
  margin-bottom: 1rem;
  position: relative;
  padding-left: 1.5rem;
}

ul li::before {
  content: "⚡️";
  position: absolute;
  left: 0;
}

.client-logo img {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.colors th {
  color: #fff;
  background-color: var(--secondary-color);
  padding: 1rem;
}

.colors td {
  color: var(--headline-color);
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-color);
}

p.coloured {
  background-color: var(--secondary-color);
  color: #fff;
}

.placeholder-box {
  background-color: var(--secondary-color);
  border-radius: 5px;
  max-width: 30rem;
  margin: 4rem auto;
  display: grid;
  gap: 2rem;
  color: #ffffff;
  padding: 1rem;
}

.placeholder-box img {
  width: 100%;
  height: auto;
}

footer {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: var(--secondary-color);
  color: #fff;
  font-family: var(--heading-font);
  width: 100%;
  padding: 1rem;
  margin-top: 5px;
}

footer p {
  margin: 5px 0;
}
