@media screen and (min-width: 38rem) {

    .navigation {
        display: flex;
    }

    .navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}

    #menu {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto 1fr;
        gap: 20px;
    }
    
    .title {
        grid-column: 1 / span 2;
        grid-row: 2;
        text-align: center;
        font-size: 2.5rem;
    }

    .card,
    .card1 {
        grid-column: auto;
        grid-row: 3;
    }

    .card-banner {
        width: 100%;
    }

    .card h2,
    .card1 h2 {
        font-size: 2rem;
        text-align: center;
    }

    .card2 {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        grid-column: 1 / span 2;
        grid-row: 4;
      }

    .filter-buttons {
        justify-content: center;
      }
    
      .card2-banner h2 {
        font-size: 1.4rem;
      }

      .course-btn {
        border: none;
        padding: 1rem;
        font-weight: bold;
        border-radius: 5px;
        text-align: center;
        cursor: default;
        grid-row: 1/3;
      }
}


